<header>
  <nav>
    <ul>
      <li>
        <span>Pull requests</span>
      </li>
      <li>
        <span>Issues</span>
      </li>
    </ul>
  </nav>
</header>
<div class="container">
  <div class="left">
    <div class="profile">
      <img
        src="https://avatars1.githubusercontent.com/u/49220854?s=460&v=4"
        alt="sizer"
      />
      <div class="comment"><span>be the first penguin</span></div>
    </div>
    <div class="name">
      <div class="real"><span>Shinse Tanak</span></div>
      <div class="nickname"><span>rms-shinse</span></div>
    </div>
    <div class="button-container"><button>Edit Profile</button></div>
  </div>
  <div class="right">
    <nav>
      <ul>
        <li>
          <span>Overview</span>
        </li>
        <li><span>Repositories</span><span>12</span></li>
        <li><span>Projects</span><span>0</span></li>
      </ul>
    </nav>
    <div class="repsitories">
      <span>Popular repositories</span>
      <div class="repository-container"><span>hello world</span></div>
      <div class="repository-container"><span>hello world</span></div>
      <div class="repository-container"><span>hello world</span></div>
      <div class="repository-container"><span>hello world</span></div>
      <div class="repository-container"><span>hello world</span></div>
      <div class="repository-container"><span>hello world</span></div>
    </div>
  </div>
</div>
<footer></footer>
